@use "../../variables";

.row-card{
    background-color: variables.$bg;
    > h2{
        font-weight: 600;
        color: variables.$font-color-hover;
        padding: 1rem;
    }
    > div {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        overflow-x: auto;
        padding: 0.5rem;
    }
}

.row-container{
    margin-left: 1rem;
}