@use "../../variables";

.row-card{
    background-color: variables.$bg;
    > h2{
        font-weight: 600;
        color: variables.$font-color-hover;
        padding: 1rem;
    }
    > div {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        overflow-x:visible;
        padding: 0.5rem;
        scroll-snap-type: x mandatory;
        &::-webkit-scrollbar{
            height: 0.7rem;
        }
        
        // &::-webkit-scrollbar-track{
        //     border: 5px solid #2c3528;
        // }
        &::-webkit-scrollbar-thumb{
            background: rgb(170, 20, 25);
            border-radius: 30px;
            transition: 0.5s;
            width: 1rem;
            &::-webkit-scrollbar-thumb:hover{
                cursor: pointer;
            }
        }
        
    }
}

