@use "../../variables";

.header {
    height: 100px;
    background-color: variables.$bg;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    box-sizing: border-box;
    justify-content: space-between;
 
    > img {
    height: 100%;
    }
    > div{
        width: 100%;
        margin-left: 4vmax;
        a{
            margin: 2vmax;
            font-size: 1.3rem;
            font-weight: 400;
            transition: 0.5s;
        }
        a:hover{
            color: variables.$font-color-hover;
        }
    }
    > svg {
        color:variables.$font-color;
        font-size: 2rem;
        cursor: pointer;
    }
}
