$font-color:rgb(164, 164, 164);
$font-color-hover: rgb(255, 255, 255);
$font-color-banner: rgba(255, 255, 255, 0.824);
$bg-header:rgb(8,8,8);
$bg-banner:rgba(8, 8, 8, 0.671);
$bg-home:rgb(2, 2, 2);
$bg:transparent;
// $bg: rgb(13,13,13);